@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "sf-semibold";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
@font-face {
  font-family: "sf-regular";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "sf-thin";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
* {  scroll-behavior: smooth;padding: 0; margin: 0; user-select: none;box-sizing: border-box;}

.sf-semibold{
   font-family: "sf-semibold";
}

.sf-regular{
   font-family: "sf-regular";
}
.sf-thin{
   font-family: "sf-thin";
}


body, html{
  background-color: #111111;
  color: #fff;
  font-family: "sf-semibold";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
 
}

#root{
  width: 270px;
  height: 585px;
  background-color: #000;
  position: relative;
}



#tabs{
  width: 100%;
  height: 5em;
  background-color: #000;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  font-size: 0.60rem;
  a svg{
    width: 2.5em;
    fill: white;
  }
  a p{
    padding-bottom: 0.5em;
    color: #9A9A9A;
  }
  a{
    text-decoration: none;

  }
  .tab{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    align-items: center;
  }
}
#alarmHeader{
  width: 100%;
  height: 5.5em;
  display: flex;
  justify-content: space-between;
  div{
    display: flex;
    margin: 0.7em;
  }
  div#alarmRight{
    width: auto;
    flex-direction: column;
      align-items: flex-end;
      svg{
        color: #eca83a; 

      }
    }
  div#alarmLeft{
    width: max-content;
    flex-direction: column;
    a {
      width: max-content;
      text-decoration: none;
      color: #eca83a;
       font-family: "SF";
      //  font-weight: 600;
    }
    #worldClockTitle{
      color: #fff;
      font-size: 2em;
      margin-top: 0.35em;
      margin-bottom: 0.1em;
    }
  }
}

hr{
  border: none;
  border-top: 0.1em solid #171717;
  margin: 0 .5em;

}

.clock {
  display: flex;
  width: 100%;
  height: 4.5em;
  margin: 0.5em;
  transition: 500ms;
}
  .clockLeft{
    span{
      color: #9A9A9A;
      font-size: .8em;
    }
    p{
      font-size: 1.8em;
    }
  }
  .clockRight{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
    p{
      font-weight: 100;
    }
    span{
      font-size: 1.6rem;
      margin-left: -.20em;
    }
  }
#alarmBody{
  width: 100%;
  height: 73%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.edit{    
  transition: 500ms;
  position: relative;
  margin-left: 3em;
}
.clockRightEdit{
  display: none;
}
.circleMinus{
  position: absolute;
  left: -2em;
  top: 2em;
  color: red;
  font-size: 1rem;
  transition: opacity;
  animation: fadeIn 500ms linear;
  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
    20%{
      opacity: 0;
    }
    100%{
      opacity: 10;
    }
    
  }
}
::-webkit-scrollbar{
  position: absolute;
  left: 0;
  width: .15em;
  background-color: #000;
  border-radius: 50%;
}
::-webkit-scrollbar-thumb{
  background-color: #c2c2c2ae;
  border-radius: 50%;
  
}




